<div class="content-wrap">
	<form method="post" action="/recommend" >
	  <input list="movie_name" name="movie_name">
	  <datalist id="movie_name">
	  	<% @movie_names.each do |movie| %>
				<option name ='<%= movie %>' value='<%= movie %>'>
		  <% end %>
	  </datalist>
	  <input type="submit">
	</form>
</div>