<div class="content-wrap">
	<form method="get" action="/recommend" >
	  <input class = "search" list="movie_name" name="movie_name">
	  <datalist id="movie_name">
	  	<% @movie_names.each do |movie| %>
				<option name ='<%= movie %>' value='<%= movie %>'>
		  <% end %>
	  </datalist>
	  <input type="submit">
	</form>
</div>


<style type='text/css'>
body{
	background-color: #456;	
}
.content-wrap{
	position: fixed;
  top: 10%;
  left: 30%;

}

.search{
	width: 500px;
	height: 29px;
}

</style>
